@import "../Global.module.scss";

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .footerFirst {
      height: 100%;
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      align-items: start;
      font-family: $font1;
      font-weight: bold;
      background-color: #a8e1fb;
      color: #000;
      .missionContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: start;
        gap: 0.3rem;
        .missionTitle {
          margin: 0;
          text-decoration: underline;
          font-weight: bold;
          text-align: start;
          font-size: 0.8rem;
        }
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
        }
        a {
          color: #000;
          text-decoration: none;
          li {
            list-style: none;
            text-wrap: wrap;
            font-size: 0.7rem;
          }
        }
        a:hover {
          color: #605c5c;
        }
      }
      .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 0.8rem;
        text-align: start;
        text-wrap: wrap;
        a {
          color: #000;
        }
        a:hover {
          color: #605c5c;
        }
      }
      .linkContactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0.2rem;
      }
    }
    .footerSecond {
      padding-bottom: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-family: $font2;
      font-size: 0.7rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .footerFirst {
      padding: 0.5rem 0;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font1;
      font-weight: bold;
      background-color: #a8e1fb;
      color: #000;
      .missionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .missionTitle {
          margin: 0;
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
          font-size: 0.9rem;
        }
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
        }
        a {
          color: #000;
          text-decoration: none;
          li {
            list-style: none;
            font-size: 0.9rem;
          }
        }
        a:hover {
          color: #605c5c;
        }
      }
      .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 0.9rem;
        text-align: center;
        a {
          color: #000;
        }
        a:hover {
          color: #605c5c;
        }
      }
      .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        a {
          font-size: 0.9rem;
          text-decoration: underline;
          color: #000;
        }
        .linkContactContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1.3rem;
        }
      }
    }
    .footerSecond {
      padding-bottom: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-family: $font2;
      font-size: 0.7rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .footerFirst {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: $font1;
      font-weight: bold;
      background-color: #a8e1fb;
      color: #000;
      .missionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 4rem;
        .missionTitle {
          margin: 0;
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
          font-size: 0.9rem;
        }
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
        }
        a {
          color: #000;
          text-decoration: none;
          li {
            list-style: none;
            font-size: 0.9rem;
          }
        }
        a:hover {
          color: #605c5c;
        }
      }
      .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-right: 6rem;
        font-size: 0.9rem;
        text-align: center;
        a {
          color: #000;
        }
        a:hover {
          color: #605c5c;
        }
      }
      .contactContainer {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        a {
          font-size: 0.9rem;
          text-decoration: underline;
        }
        .linkContactContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1.3rem;
        }
      }
    }
    .footerSecond {
      padding-bottom: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-family: $font2;
      font-size: 0.8rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .footerFirst {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: $font1;
      font-weight: bold;
      background-color: #a8e1fb;
      color: #000;
      .missionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 4rem;
        .missionTitle {
          margin: 0;
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
          font-size: 1rem;
        }
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
        }
        a {
          color: #000;
          text-decoration: none;
          li {
            list-style: none;
            font-size: 1rem;
          }
        }
        a:hover {
          color: #605c5c;
        }
      }
      .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-right: 6rem;
        font-size: 1rem;
        text-align: center;
        a {
          color: #000;
        }
        a:hover {
          color: #605c5c;
        }
      }
      .contactContainer {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        a {
          font-size: 1rem;
          text-decoration: underline;
        }
        .linkContactContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1.3rem;
        }
      }
    }
    .footerSecond {
      padding-bottom: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-family: $font2;
      font-size: 1rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-width: 1400px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    .footerFirst {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: $font1;
      font-weight: bold;
      background-color: #a8e1fb;
      color: #000;
      .missionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 4rem;
        .missionTitle {
          margin: 0;
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
          font-size: 1.2rem;
        }
        ul {
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
        a {
          color: #000;
          text-decoration: none;
          li {
            list-style: none;
          }
        }
        a:hover {
          color: #605c5c;
        }
      }
      .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-right: 6rem;
        font-size: 1.2rem;
        text-align: center;
        a {
          color: #000;
        }
        a:hover {
          color: #605c5c;
        }
      }
      .contactContainer {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        a {
          font-size: 1.2rem;
          text-decoration: underline;
        }
        .linkContactContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1.3rem;
        }
      }
    }
    .footerSecond {
      padding-bottom: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
      font-family: $font2;
      font-size: 1.2rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
