@import "../Global.module.scss";

@media only screen and (max-width: 599px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 815px;
    max-height: 1000px;
    max-width: 600px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 16rem;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          display: none;
        }
        .polygonMini1 {
          position: relative;
          left: 1%;
          bottom: 23%;
        }
        .polygonMini1bis {
          position: relative;
          left: 70%;
          bottom: 6%;
        }
        .polygonMini2 {
          position: relative;
          right: 12%;
          bottom: 0%;
        }
        .polygonMini3 {
          position: relative;
          right: 2%;
          top: 90%;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          position: relative;
          right: 94%;
          top: 87%;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          left: 8%;
          bottom: 87%;
        }
        .polygonMini5 {
          position: relative;
          right: 26%;
          bottom: -109%;
        }
        .polygon2 {
          display: none;
        }
        .polygon2bis {
          display: none;
        }
        .polygonMini6 {
          position: relative;
          right: 20%;
          top: 74%;
        }
        .polygonMini6bis {
          position: relative;
          right: 25%;
          bottom: 2%;
        }
        .polygonMini5bis {
          position: relative;
          right: 47%;
          bottom: 58%;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3 {
          display: none;
        }
        .polygon3bis {
          display: none;
        }
        .polygon3ter {
          display: none;
        }
        .polygonMini7bis {
          position: relative;
          left: 66%;
          bottom: 146%;
        }
        .polygonMini9 {
          position: relative;
          right: 18%;
          bottom: 106%;
        }
        .polygonMini9bis {
          position: relative;
          right: 24%;
          top: 87%;
        }
        .polygonMini7 {
          position: relative;
          right: 59%;
          bottom: 0%;
        }
        .polygonMini8 {
          position: relative;
          right: 36%;
          top: 11%;
        }
        .polygonMini9ter {
          position: relative;
          right: 55%;
          bottom: 63%;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 0vw;
        width: 260px;
        min-width: 260px;
        height: 300px;
        min-height: 300px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.5rem;
          text-wrap: balance;
          width: 15rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0vw;
        width: 260px;
        min-width: 260px;
        height: 300px;
        min-height: 300px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.5rem;
          text-wrap: balance;
          width: 15rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 0vw;
        width: 260px;
        min-width: 260px;
        height: 300px;
        min-height: 300px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.5rem;
          text-wrap: balance;
          width: 15rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1250px;
    max-height: 1250px;
    max-width: 768px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 16rem;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          display: none;
        }
        .polygonMini1 {
          position: relative;
          left: 19%;
          bottom: 11%;
        }
        .polygonMini1bis {
          position: relative;
          left: 83%;
          top: 31%;
        }
        .polygonMini2 {
          position: relative;
          right: 10%;
          top: 56%;
        }
        .polygonMini3 {
          position: relative;
          right: 9%;
          top: 101%;
        }
        .polygon1bis1 {
          position: relative;
          left: 3%;
          top: 0%;
        }
        .polygonMini2bis {
          position: relative;
          right: 0%;
          top: 130%;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          left: 5%;
          top: 70%;
        }
        .polygonMini5 {
          position: relative;
          left: 16%;
          top: 127%;
        }
        .polygon2 {
          display: none;
        }
        .polygon2bis {
          position: relative;
          right: 6%;
          bottom: 26%;
        }
        .polygonMini6 {
          position: relative;
          left: 21%;
          top: 96%;
        }
        .polygonMini6bis {
          position: relative;
          right: 11%;
          bottom: 41%;
        }
        .polygonMini5bis {
          position: relative;
          right: 9%;
          top: 46%;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          left: 19%;
          top: 0vh;
        }
        .polygonMini7bis {
          position: relative;
          right: 20%;
          bottom: 86%;
        }
        .polygon3 {
          display: none;
        }
        .polygon3bis {
          position: relative;
          left: 22%;
          top: 84%;
        }
        .polygonMini9 {
          position: relative;
          left: 13%;
          top: 41%;
        }
        .polygonMini9bis {
          position: relative;
          right: 82%;
          top: 0%;
        }
        .polygonMini7 {
          position: relative;
          right: 26%;
          bottom: 54%;
        }
        .polygonMini8 {
          position: relative;
          right: 105%;
          top: 107%;
        }
        .polygonMini9ter {
          position: relative;
          right: 90%;
          top: 128%;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 0vw;
        width: 300px;
        min-width: 300px;
        height: 360px;
        min-height: 360px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.5rem;
          width: 16rem;
          height: auto;
          text-wrap: balance;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0vw;
        width: 300px;
        min-width: 300px;
        height: 360px;
        min-height: 360px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.5rem;
          width: 16rem;
          height: auto;
          text-wrap: balance;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 0vw;
        width: 300px;
        min-width: 300px;
        height: 360px;
        min-height: 360px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.5rem;
          text-wrap: balance;
          width: 16rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1250px;
    max-height: 1250px;
    max-width: 768px;
    min-width: 768px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 6%;
          left: 10%;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          position: relative;
          right: 61vw;
          top: 5vh;
        }
        .polygonMini2 {
          position: relative;
          left: 21%;
        }
        .polygonMini3 {
          position: relative;
          top: 37%;
          left: 19%;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          bottom: 12%;
          left: 9%;
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 43%;
          bottom: 5%;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon2bis {
          position: relative;
          right: 33%;
          top: 23%;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          left: 5%;
          bottom: 30%;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          top: 11%;
          left: 1%;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon3bis {
          position: relative;
          left: 8%;
          top: 7%;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          position: relative;
          right: 5%;
          top: 77%;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 5%;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 23%;
        top: 2%;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 7%;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 6%;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          display: none;
        }
        .polygonMini2 {
          position: relative;
          left: 23%;
        }
        .polygonMini3 {
          position: relative;
          left: 25%;
          top: 29%;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 49%;
          bottom: 16%;
        }
        .polygon2bis {
          position: relative;
          right: 36%;
          top: 22%;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 9%;
          bottom: 31%;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          bottom: 12%;
        }
        .polygon3bis {
          position: relative;
          left: 14%;
          top: 28%;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          display: none;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 13%;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 28%;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 11%;
        bottom: 5%;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1661px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          left: 3%;
          bottom: 5%;
        }
        .polygonMini1 {
          position: relative;
          right: 70%;
          bottom: 16%;
        }
        .polygonMini1bis {
          position: relative;
          right: 65%;
          top: 0%;
        }
        .polygonMini2 {
          position: relative;
          left: 16%;
          top: 16%;
        }
        .polygonMini3 {
          position: relative;
          right: 107%;
          top: 20%;
        }
        .polygon1bis1 {
          position: relative;
          top: 40%;
        }
        .polygonMini2bis {
          position: relative;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          right: 12%;
        }
        .polygonMini5 {
          position: relative;
          right: 0vw;
        }
        .polygon2 {
          position: relative;
          left: 61%;
          bottom: 14%;
        }
        .polygon2bis {
          position: relative;
          right: 53%;
          top: 38%;
        }
        .polygonMini6 {
          position: relative;
          right: 47%;
        }
        .polygonMini6bis {
          position: relative;
          left: 23%;
          top: 67%;
        }
        .polygonMini5bis {
          position: relative;
          left: 5vw;
          bottom: 15%;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 45%;
          top: 7%;
        }
        .polygonMini7bis {
          position: relative;
          right: 21%;
          bottom: 8%;
        }
        .polygon3 {
          position: relative;
          right: 13%;
        }
        .polygon3bis {
          position: relative;
          left: 10%;
          top: 81%;
        }
        .polygonMini9 {
          position: relative;
          right: 116%;
          top: 47%;
        }
        .polygonMini9bis {
          position: relative;
          right: 5%;
          top: 40%;
        }
        .polygonMini7 {
          position: relative;
          left: 0vh;
          bottom: 0vw;
        }
        .polygonMini8 {
          position: relative;
          right: 150%;
          top: 74%;
        }
        .polygonMini9ter {
          position: relative;
          right: 26%;
          top: 65%;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 13%;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 46%;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 14%;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
