@import "../Global.module.scss";

@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1250px;
    max-height: 1250px;
    max-width: 768px;
    min-width: 768px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 2vh;
          left: 12vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          position: relative;
          right: 61vw;
          top: 5vh;
        }
        .polygonMini2 {
          position: relative;
          left: 20vw;
        }
        .polygonMini3 {
          position: relative;
          top: 16vh;
          left: 20vw;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          left: 5vw;
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 42vw;
          bottom: 6vh;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon2bis {
          position: relative;
          right: 37vw;
          top: 6vh;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: -5vw;
          bottom: 19vh;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          bottom: -5vh;
          left: 2vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon3bis {
          position: relative;
          left: 6vw;
          top: 2vh;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          position: relative;
          right: 15vw;
          top: 35vh;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 3vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 880px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1250px;
    max-height: 1250px;
    max-width: 768px;
    min-width: 768px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 2vh;
          left: 12vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          position: relative;
          right: 61vw;
          top: 5vh;
        }
        .polygonMini2 {
          position: relative;
          left: 20vw;
        }
        .polygonMini3 {
          position: relative;
          top: 16vh;
          left: 20vw;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          left: 5vw;
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 42vw;
          bottom: 6vh;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon2bis {
          position: relative;
          right: 37vw;
          top: 6vh;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: -5vw;
          bottom: 19vh;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          bottom: -5vh;
          left: 2vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon3bis {
          position: relative;
          left: 6vw;
          top: 2vh;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          position: relative;
          right: 15vw;
          top: 35vh;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 3vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 881px) and (max-width: 989px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1250px;
    max-height: 1250px;
    max-width: 768px;
    min-width: 768px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 2vh;
          left: 12vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          position: relative;
          right: 61vw;
          top: 5vh;
        }
        .polygonMini2 {
          position: relative;
          left: 20vw;
        }
        .polygonMini3 {
          position: relative;
          top: 16vh;
          left: 20vw;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          bottom: 9vh;
          left: 5vw;
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 38vw;
          bottom: 4vh;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon2bis {
          position: relative;
          right: 30vw;
          top: 3vh;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: -5vw;
          bottom: 19vh;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          bottom: -5vh;
          left: 2vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon3bis {
          position: relative;
          left: 6vw;
          top: 2vh;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          position: relative;
          right: 15vw;
          top: 35vh;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 3vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 989px) and (max-width: 1023px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1250px;
    max-height: 1250px;
    max-width: 768px;
    min-width: 768px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 2vh;
          left: 12vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          position: relative;
          right: 61vw;
          top: 5vh;
        }
        .polygonMini2 {
          position: relative;
          left: 20vw;
        }
        .polygonMini3 {
          position: relative;
          top: 16vh;
          left: 20vw;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          bottom: 9vh;
          left: 5vw;
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 38vw;
          bottom: 4vh;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon2bis {
          position: relative;
          right: 30vw;
          top: 3vh;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: -5vw;
          bottom: 19vh;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          bottom: -5vh;
          left: 2vw;
          width: 340px;
          min-width: 340px;
          height: 400px;
          min-height: 400px;
        }
        .polygon3bis {
          position: relative;
          left: 6vw;
          top: 2vh;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          position: relative;
          right: 10vw;
          top: 35vh;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 3vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 340px;
        min-width: 340px;
        height: 400px;
        min-height: 400px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 1.75rem;
          width: 18rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          bottom: 4vh;
        }
        .polygonMini1 {
          display: none;
        }
        .polygonMini1bis {
          position: relative;
          right: 61vw;
          top: 5vh;
        }
        .polygonMini2 {
          position: relative;
          left: 20vw;
        }
        .polygonMini3 {
          position: relative;
          top: 16vh;
          left: 20vw;
        }
        .polygon1bis1 {
          display: none;
        }
        .polygonMini2bis {
          display: none;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
        }
        .polygonMini5 {
          display: none;
        }
        .polygon2 {
          position: relative;
          left: 37vw;
          bottom: 13vh;
        }
        .polygon2bis {
          position: relative;
          right: 25vw;
          top: 6vh;
        }
        .polygonMini6 {
          display: none;
        }
        .polygonMini6bis {
          display: none;
        }
        .polygonMini5bis {
          display: none;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 8vw;
          bottom: 16vh;
        }
        .polygonMini7bis {
          display: none;
        }
        .polygon3 {
          position: relative;
          bottom: 10vh;
        }
        .polygon3bis {
          position: relative;
          left: 10vw;
          top: 10vh;
        }
        .polygonMini9 {
          display: none;
        }
        .polygonMini9bis {
          display: none;
        }
        .polygonMini7 {
          display: none;
        }
        .polygonMini8 {
          display: none;
        }
        .polygonMini9ter {
          display: none;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 3vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1661px) and (max-height: 919px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          left: 1vw;
          bottom: 3vh;
        }
        .polygonMini1 {
          position: relative;
          right: 30vw;
          bottom: 8vh;
        }
        .polygonMini1bis {
          position: relative;
          right: 27vw;
          top: 0vh;
        }
        .polygonMini2 {
          position: relative;
          left: 10vw;
          top: 10vh;
        }
        .polygonMini3 {
          position: relative;
          top: 10vh;
          right: 45vw;
        }
        .polygon1bis1 {
          position: relative;
          top: 22vh;
        }
        .polygonMini2bis {
          position: relative;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          right: 5vw;
        }
        .polygonMini5 {
          position: relative;
          right: 0vw;
        }
        .polygon2 {
          position: relative;
          left: 30vw;
          bottom: 8vh;
        }
        .polygon2bis {
          position: relative;
          right: 25vw;
          top: 20vh;
        }
        .polygonMini6 {
          position: relative;
          right: 20vw;
        }
        .polygonMini6bis {
          position: relative;
          top: 35vh;
          left: 10vw;
        }
        .polygonMini5bis {
          position: relative;
          left: 5vw;
          bottom: 10vh;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 20vw;
          bottom: 4vh;
        }
        .polygonMini7bis {
          position: relative;
          right: 10vw;
          bottom: 5vh;
        }
        .polygon3 {
          position: relative;
          right: 5vw;
        }
        .polygon3bis {
          position: relative;
          left: 5vw;
          top: 39vh;
        }
        .polygonMini9 {
          position: relative;
          right: 107vh;
          top: 11vw;
        }
        .polygonMini9bis {
          position: relative;
          right: 5vh;
          top: 11vw;
        }
        .polygonMini7 {
          position: relative;
          left: 0vh;
          bottom: 0vw;
        }
        .polygonMini8 {
          position: relative;
          top: 35vh;
          right: 67vw;
        }
        .polygonMini9ter {
          position: relative;
          top: 20vw;
          right: 21vh;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 5vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1661px) and (min-height: 920px) and (max-height: 1059px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          left: 1vw;
          bottom: 3vh;
        }
        .polygonMini1 {
          position: relative;
          right: 30vw;
          bottom: 8vh;
        }
        .polygonMini1bis {
          position: relative;
          right: 27vw;
          top: 0vh;
        }
        .polygonMini2 {
          position: relative;
          left: 10vw;
          top: 10vh;
        }
        .polygonMini3 {
          position: relative;
          top: 10vh;
          right: 45vw;
        }
        .polygon1bis1 {
          position: relative;
          top: 18vh;
        }
        .polygonMini2bis {
          position: relative;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          right: 5vw;
        }
        .polygonMini5 {
          position: relative;
          right: 0vw;
        }
        .polygon2 {
          position: relative;
          left: 30vw;
          bottom: 8vh;
        }
        .polygon2bis {
          position: relative;
          right: 25vw;
          top: 20vh;
        }
        .polygonMini6 {
          position: relative;
          right: 20vw;
        }
        .polygonMini6bis {
          position: relative;
          top: 35vh;
          left: 10vw;
        }
        .polygonMini5bis {
          position: relative;
          left: 5vw;
          bottom: 10vh;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 20vw;
          bottom: 4vh;
        }
        .polygonMini7bis {
          position: relative;
          right: 10vw;
          bottom: 5vh;
        }
        .polygon3 {
          position: relative;
          right: 5vw;
        }
        .polygon3bis {
          position: relative;
          left: 5vw;
          top: 39vh;
        }
        .polygonMini9 {
          position: relative;
          right: 107vh;
          top: 11vw;
        }
        .polygonMini9bis {
          position: relative;
          right: 5vh;
          top: 11vw;
        }
        .polygonMini7 {
          position: relative;
          left: 0vw;
          top: 5vh;
        }
        .polygonMini8 {
          position: relative;
          top: 35vh;
          right: 67vw;
        }
        .polygonMini9ter {
          position: relative;
          top: 20vw;
          right: 21vh;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 5vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1661px) and (min-height: 1059px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          left: 1vw;
          bottom: 3vh;
        }
        .polygonMini1 {
          position: relative;
          right: 30vw;
          bottom: 8vh;
        }
        .polygonMini1bis {
          position: relative;
          right: 27vw;
          top: 0vh;
        }
        .polygonMini2 {
          position: relative;
          left: 10vw;
          top: 5vh;
        }
        .polygonMini3 {
          position: relative;
          top: 10vh;
          right: 45vw;
        }
        .polygon1bis1 {
          position: relative;
          top: 13vh;
        }
        .polygonMini2bis {
          position: relative;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          right: 5vw;
        }
        .polygonMini5 {
          position: relative;
          right: 0vw;
        }
        .polygon2 {
          position: relative;
          left: 30vw;
          bottom: 8vh;
        }
        .polygon2bis {
          position: relative;
          right: 25vw;
          top: 20vh;
        }
        .polygonMini6 {
          position: relative;
          right: 20vw;
        }
        .polygonMini6bis {
          position: relative;
          top: 35vh;
          left: 10vw;
        }
        .polygonMini5bis {
          position: relative;
          left: 5vw;
          bottom: 10vh;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 20vw;
          bottom: 4vh;
        }
        .polygonMini7bis {
          position: relative;
          right: 10vw;
          bottom: 5vh;
        }
        .polygon3 {
          position: relative;
          right: 5vw;
          bottom: 0vh;
        }
        .polygon3bis {
          position: relative;
          left: 5vw;
          top: 39vh;
        }
        .polygonMini9 {
          position: relative;
          right: 107vw;
          top: 11vh;
        }
        .polygonMini9bis {
          position: relative;
          right: 5vw;
          top: 11vh;
        }
        .polygonMini7 {
          position: relative;
          left: 0vw;
          top: 5vh;
        }
        .polygonMini8 {
          position: relative;
          top: 35vh;
          right: 67vw;
        }
        .polygonMini9ter {
          position: relative;
          top: 20vh;
          right: 16vw;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 5vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 22vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 2034px) and (min-height: 1059px) {
  .sectionHexagon {
    position: relative;
    z-index: 0;
    min-height: 1400px;
    max-height: 1400px;
    max-width: 815px;
    min-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      .backgroundLine1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon1 {
          position: relative;
          left: 1vw;
          bottom: 3vh;
        }
        .polygonMini1 {
          position: relative;
          right: 30vw;
          bottom: 8vh;
        }
        .polygonMini1bis {
          position: relative;
          right: 27vw;
          top: 0vh;
        }
        .polygonMini2 {
          position: relative;
          left: 10vw;
          top: 5vh;
        }
        .polygonMini3 {
          position: relative;
          top: 10vh;
          right: 45vw;
        }
        .polygon1bis1 {
          position: relative;
          top: 13vh;
        }
        .polygonMini2bis {
          position: relative;
        }
      }
      .backgroundLine2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygonMini4 {
          position: relative;
          right: 5vw;
        }
        .polygonMini5 {
          position: relative;
          right: 0vw;
        }
        .polygon2 {
          position: relative;
          left: 30vw;
          bottom: 8vh;
        }
        .polygon2bis {
          position: relative;
          right: 25vw;
          top: 20vh;
        }
        .polygonMini6 {
          position: relative;
          right: 20vw;
        }
        .polygonMini6bis {
          position: relative;
          top: 31vh;
          left: 14vw;
        }
        .polygonMini5bis {
          position: relative;
          left: 5vw;
          bottom: 10vh;
        }
      }
      .backgroundLine3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .polygon3ter {
          position: relative;
          right: 20vw;
          bottom: 4vh;
        }
        .polygonMini7bis {
          position: relative;
          right: 15vw;
          bottom: -1vh;
        }
        .polygon3 {
          position: relative;
          right: 5vw;
          bottom: 0vh;
        }
        .polygon3bis {
          position: relative;
          left: 5vw;
          top: 39vh;
        }
        .polygonMini9 {
          position: relative;
          right: 107vw;
          top: 11vh;
        }
        .polygonMini9bis {
          position: relative;
          right: 5vw;
          top: 11vh;
        }
        .polygonMini7 {
          position: relative;
          left: 0vw;
          top: 5vh;
        }
        .polygonMini8 {
          position: relative;
          top: 19vh;
          right: 67vw;
        }
        .polygonMini9ter {
          position: relative;
          top: 20vh;
          right: 16vw;
        }
      }
    }
    &__content {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .hexagonFirst {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 5vw;
        bottom: 2vh;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #000;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonFirstP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 2vh;
        left: 24vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #5a8993;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonSecondP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
      .hexagonThird {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 6vw;
        width: 390px;
        min-width: 390px;
        height: 450px;
        min-height: 450px;
        background: #197491;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
        .hexagonThirdP {
          color: #fff;
          text-align: center;
          font-family: $font2;
          font-size: 2rem;
          width: 20rem;
          height: auto;
        }
      }
    }
  }
}
