@import "../Global.module.scss";
.homePage{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.sectionIntro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14vw;
  .h1BtnContain {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #000;
      text-align: center;
      font-family: $font3;
      font-size: 4rem;
    }
  }
}
.sectionHexagone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  .hexagon1Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .polygon1 {
      position: relative;
      z-index: 1;
    }
    .hexagoneFirst {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 400px;
      width: 400px;
      height: 450px;
      background: #000;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      .hexagoneFirstP {
        color: #fff;
        text-align: center;
        font-family: $font3;
        font-size: 2rem;
        width: 18rem;
        height: 15rem;
      }
    }
    .polygon2bis {
      position: relative;

    }
  }
  .hexagone2Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .polygon1bis1 {
      position: relative;
    }
    .polygon2 {
      position: relative;

      z-index: 1;
    }
    .hexagoneSecond {
      position: relative;

      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 450px;
      min-width: 450px;
      height: 500px;
      background: #5a8993;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      .hexagoneSecondP {
        color: #fff;
        text-align: center;
        font-family: $font1;
        font-size: 2rem;
        width: 18rem;
        height: 15rem;
      }
    }
 
  }
  .hexagone3Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .polygon3 {
      position: relative;

      z-index: 1;
    }
    .hexagoneThird {
      position: relative;

      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 400px;
      background: #197491;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      .hexagoneThirdP {
        color: #fff;
        text-align: center;
        font-family: $font1;
        font-size: 2rem;
        width: 18rem;
        height: 15rem;
      }
    }
    .polygon3bis {
      position: relative;

    }
  }
}
.sectionReview{
  display: none;
}
@media only screen and (max-width: 600px) {
  /* Styles pour les téléphones */
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* Styles pour les petites tablettes */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles pour les tablettes standard */
}
@media only screen and (min-width: 1200px) {
  /* Styles pour les grands écrans de bureau */
}
@media only screen and (min-width: 1400px) {
  /* Styles pour les très grands écrans */
}
