@import "../Global.module.scss";
.sectionReview {
  display: none;
}
@media only screen and (max-width: 600px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    .mainHomePage {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .sectionIntro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .h1BtnContain {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          h1 {
            margin: 0;
            color: #000;
            text-align: center;
            font-family: $font2;
            font-size: 3rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    .mainHomePage {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .sectionIntro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .h1BtnContain {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          h1 {
            margin: 0;
            color: #000;
            text-align: center;
            font-family: $font2;
            font-size: 3rem;
          }
        }
      }
    }
  }}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    min-height: 930px;
    .sectionIntro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10vw;
      .h1BtnContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #000;
          text-align: center;
          font-family: $font2;
          font-size: 3rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    min-height: 930px;
    .sectionIntro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12vw;
      .h1BtnContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #000;
          text-align: center;
          font-family: $font2;
          font-size: 3.5rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (min-height: 1000px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;

    .sectionIntro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 12vw;
      .h1BtnContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #000;
          text-align: center;
          font-family: $font2;
          font-size: 3.5rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    .sectionIntro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 14vw;
      .h1BtnContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #000;
          text-align: center;
          font-family: $font2;
          font-size: 4rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) and (min-height: 1000px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    min-height: 1000px;
    .sectionIntro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 14vw;
      .h1BtnContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #000;
          text-align: center;
          font-family: $font2;
          font-size: 4rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) and (min-height: 1000px) {
  .homePage {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    .sectionIntro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 14vw;
      .h1BtnContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          color: #000;
          text-align: center;
          font-family: $font2;
          font-size: 4rem;
        }
      }
    }
  }
}
