@import "../Global.module.scss";

@media only screen and (min-width: 1023px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-family: $font1;
    a {
      position: relative;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }
    ul {
      all: unset;
    }
    .listMission {
      list-style: none;
      text-wrap: nowrap;
      padding-bottom: 1rem;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      position: absolute;
      left: 0%;
      top: 84%;
      z-index: 1000;
      width: 100%;
      background-color: #000;
      box-shadow: rgb(167 225 250) 0px 20px 30px -10px;
      .break {
        color: #a7e1fa;
        font-weight: bolder;
        font-size: 1.5rem;
      }
      a {
        font-size: 1.3rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media only screen and (min-width: 1400px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    font-family: $font1;
    a {
      position: relative;
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }
    ul {
      all: unset;
    }
    .listMission {
      list-style: none;
      position: absolute;
      left: 0%;
      top: 86%;
      z-index: 1000;
      margin: 0;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      background-color: #000;
      box-shadow: rgb(167 225 250) 0px 20px 30px -10px;
      .break {
        color: #a7e1fa;
        font-weight: bolder;
        font-size: 2rem;
      }
      a {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media only screen and (min-width: 1661px) {
  .nav {
    ul {
      all: unset;
    }
    .listMission {
      list-style: none;
      position: absolute;
      left: 0%;
      top: 86%;
      z-index: 1000;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      background-color: #000;
      box-shadow: rgb(167 225 250) 0px 20px 30px -10px;
      a {
        font-size: 1.8rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media (max-width: 1023px) {
  .nav {
    display: none;
  }
}
