@import "../Global.module.scss";

@media only screen and (max-width: 599px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-family: $font1;
    text-wrap: nowrap;
    a {
      position: relative;
      font-size: 1.2rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }

    .listMission {
      border: 1px solid red;
      list-style: none;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 10%;
      left: 73.3%;
      z-index: 1000;
      width: 15rem;
      background-color: #000;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      a {
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media only screen and (min-width: 600px) and (max-width:768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-family: $font1;
    text-wrap: nowrap;
    a {
      position: relative;
      font-size: 1.2rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }

    .listMission {
      list-style: none;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 10%;
      left: 73.3%;
      z-index: 1000;
      width: 15rem;
      background-color: #000;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      a {
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    font-family: $font1;
    text-wrap: nowrap;
    a {
      position: relative;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }

    .listMission {
      list-style: none;
      text-wrap: balance;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 9vh;
      left: 60vw;
      z-index: 1000;
      width: 9rem;
      background-color: #000;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      a {
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-family: $font1;
    a {
      position: relative;
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }

    .listMission {
      list-style: none;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 10%;
      left: 73.3%;
      z-index: 1000;
      width: 15rem;
      background-color: #000;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      a {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media only screen and (min-width: 1400px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    font-family: $font1;
    a {
      position: relative;
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #a7e1fa;
      top: 1px;
    }

    .btnMission {
      position: relative;
      all: unset;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
    }

    .btnMission:hover {
      position: relative;
      color: #a7e1fa;
      top: 1px;
    }
    p:hover {
      top: 1px;
    }

    .listMission {
      border: 1px solid red;
      list-style: none;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 10%;
      left: 73.3%;
      z-index: 1000;
      width: 15rem;
      background-color: #000;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      a {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
      }

      a:hover {
        color: #a7e1fa;
      }
    }
  }
}
@media (max-width: 898px) {
  .nav {
    display: none;
  }
}
