@import "../Global.module.scss";
@media only screen and (max-width: 600px) {
    .sectionAbout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        &__title {
          font-size: 2rem;
        }
    
        &__content {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: end;
          gap: 2rem;
          .contentText {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 0.5rem;
            width: 17rem;
            &__P {
              margin: 0;
              text-wrap: balance;
              font-size: 1rem;
            }
            &__Title {
              margin: 0;
              font-size: 0.8rem;
              font-style: italic;
              font-weight: 400;
            }
          }
        }
      }
}
@media only screen and (min-width: 600px) {
  .sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    &__title {
      font-size: 2rem;
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: end;
      gap: 2rem;
      .contentText {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.5rem;
        width: 17rem;
        &__P {
          margin: 0;
          text-wrap: balance;
          font-size: 0.8rem;
        }
        &__Title {
          margin: 0;
          font-size: 0.8rem;
          font-style: italic;
          font-weight: 400;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    &__title {
      font-size: 2rem;
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: end;
      gap: 2rem;
      .contentText {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.5rem;
        width: 22rem;
        &__P {
          margin: 0;
          text-wrap: balance;
          font-size: 1rem;
        }
        &__Title {
          margin: 0;
          font-size: 0.9rem;
          font-style: italic;
          font-weight: 400;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .sectionAbout {
    &__content {
      gap: 2rem;
      .contentText {
        gap: 0.5rem;
        width: 30rem;
        &__P {
          font-size: 1.1rem;
        }
        &__Title {
          font-size: 1rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1440px) {
  .sectionAbout {
    &__content {
      gap: 4rem;
      .contentText {
        gap: 1.5rem;
        width: 40rem;
        &__P {
          font-size: 1.3rem;
        }
        &__Title {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 1660px) {
  .sectionAbout {
    &__title {
      font-size: 3rem;
    }
    &__content {
      gap: 6rem;
      .contentText {
        gap: 1.5rem;
        width: 45rem;
        &__P {
          font-size: 1.4rem;
        }
        &__Title {
          font-size: 1.3rem;
        }
      }
    }
  }
}
