@import "../Global.module.scss";
@media only screen and (max-width: 600px) {
  .sectionAbout {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .sectionAbout {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .sectionAbout {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .sectionAbout {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .sectionAbout {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
